* {
    padding: 0px;
    margin: 0;
    border: 0;
}



.inicio {
    padding: 10px 00px 00px 300px;
    align-items: center;
    color: #000000;
    font-size: 23px;
}

.topo {
    padding: 00px 110px 00px 00px;
    margin: 30px;
    width: 50px;
    margin-left: 80px;
}



.fotos {
    transition: all .5s;
    border: 05px solid #fffffffa;
    background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
    background-size: 330px 300px;
    display: flex;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    justify-content: space-between;
    box-shadow: 6px 3px 3px #222a57e1;

}

.fotos:hover {
    border: 02px solid rgb(0, 0, 0);
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
}

.divDeFora {}

.divDaImagem {  
    margin-left: 15px; 
}

.divDaDescricao {
    margin-left: 10px;
    padding: 20px;
}

.texto {
    font-weight: bolder;
    font-size: 1.28rem; 
}

.name {margin: 15px;
    color: white;
    background-image: linear-gradient( to right,rgb(1, 1, 26),rgb(6, 6, 141),rgb(253, 253, 255) );
    border-radius: 10px;
    height: 38px;
    width: 240px;
}