*{
padding : 0px;
margin : 0;
border : 0;
}



.inicio  {
    display: flex;
    padding: 20px 10px 00px 500px;
    align-items: center;
    color: black;
    font-size: 23px;
}

.topo {
    padding: 00px 110px 00px 00px;
    margin: 00px;  
    width: 50px;
    margin-left: 300px;
    
   

}

.cardImage {
    display: flex;
    height: 70px;
    margin: 10px;  
}

.fotos {
    transition: all .5s;
    border: 05px solid #fffffffa;
    background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
    background-size: 330px 300px;
    display: flex;
    border-radius: 50%;
    height: 330px; 
    width: 370px;
    justify-content: space-between;
    box-shadow: 6px 3px 3px #222a57e1;
    
}

.fotos:hover{
    border: 02px solid rgb(0, 0, 0);
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    filter: drop-shadow(15px 7px 1px rgba(0,0,0,.5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
}

.texto {
    width: 290px;
    margin-left: 400px;
    font-size: 25px;
    color: black;
    text-transform: capitalize;
    padding: 03px;
    font-weight: bold;
     
}

.name {
    color: white;
    background-image: linear-gradient( to right,rgb(1, 1, 26),rgb(6, 6, 141),rgb(253, 253, 255) );
    border-radius: 20px;
    border: 02px solid white;
    height: 65px; 
    width: 400px;
    margin-left: 400px;
    font-size: 25px;
    text-transform: capitalize;
    padding: 03px;
    box-shadow: 6px 6px 6px hsla(231, 87%, 6%, 0.882);
}

