.favorites {
  margin: 0px;
}

body {
  background-color: rgb(202, 200, 211);
}

nav {
  background-color: rgb(1, 1, 70);
  height: 100px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: bolder;
  background-image: linear-gradient( to right,rgb(1, 1, 26),rgb(6, 6, 141),rgb(253, 253, 255) );
  }

  .btn {
    text-decoration: none;
    justify-content: space-between;
    color: #ffe600;
  }

  .link-favoritos {
    text-decoration: none;
    color:hwb(0 100% 0%);
  }

  .navbar-h1-favorito {
    margin: 10px;
    color: black;
  }

  .navbar-img {
    width: 160px;
  }

  .searchbar-container {
    display: flex;
    margin: 5px auto;
    padding: 0 20px;
    align-items: center;
  }

  .searchbar input {
    padding: 09px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
       
  }

  .searchbar-btn button {
    background-color: rgb(29, 29, 207);
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bolder;
    margin: 5px;
  }

    .pokedex-header {
     display: flex;
     flex-direction: row; 
     justify-content: space-between;
     align-items: center;
     padding: 12px;
    }

    .pokedex-header h2 {
     color: white;
     border-radius: 30px;
     padding: 06px;
     background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
     
    }

    .pokedex-grid-favorito {
      display: grid;
      gap: 01px;
      grid-template-columns: repeat(3,1fr);
      padding: 05px;
      margin: 05px;     
    }

    .pokemon-card-favorito {
      display: flex;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      background-color:aqua;
      color:white;
      background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
      padding: 15px;
      margin: 15px; 
    }

    .pokemon-card-favorito {     
      transition: 0.05s;  
      
    }
    
    .pokemon-card-favorito:hover {
      -webkit-transform: scale(0.1);
      transform: scale(1.1);
    }


    .pokemon-image {
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }
    .pokemon-image-container {
      padding: 0px 5px;
    }

    .card-body-favorito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 00px 15px;
    flex:  1;
    }

    .card-top-favorito {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      padding: 10px;      
    }

    .card-top-favorito h3 {
      text-transform: capitalize;
    }

    .card-bottom-favorito {
      border-radius: 10px; 
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-between;
      padding-inline-start: 13px;
    }

    .pokemon-type-favorito {
      display: flex;      
    }

    .pokemon-type-text-favorito {
      margin-right: 10px;
      text-transform: capitalize;
      background-color:rgb(213, 216, 212);
      box-shadow: 0px 2px 2px #f3f1f1;
      border-radius: 08px;
      padding: 02px;
      background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
      color:white;
           
    }

    .pagination-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .pokemon-heart-btn-favorito {
      border: none;
      background-color: hwb(0 92% 5%);
      border-radius: 15px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      padding: 05px;
      cursor: pointer;
      align-items: center;
    }

    .not-found-text  {
      text-align: center;
      font-size: 1.25rem;
      padding: 20px;
    }
    .btn {
      background-image:linear-gradient(to left,rgb(0, 0, 0),rgb(0, 0, 0),rgb(255, 217, 0));
      color: #fff;
      padding: 0.4em 1em;
      margin-bottom: 1em;
      text-decoration: none;
      transition: 0.5s;
      border-radius: 50px;
      font-weight: bold;
    
  }
  
  .btn:hover {
      color: #ffbb33;
      -webkit-transform: scale(0.1);
      transform: scale(1.1);
  }
    
.favorites {
  text-align: center;
}