* {
  margin: 0px;
}

body {
  background-color: rgb(202, 200, 211);
}

nav {
  background-color: rgb(1, 1, 70);
  height: 100px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: bolder;
  background-image: linear-gradient( to right,rgb(1, 1, 26),rgb(6, 6, 141),rgb(253, 253, 255) );
  }

  .navbar-img {
    width: 160px;
  }

  .searchbar-container {
    display: flex;
    margin: 5px auto;
    padding: 0 20px;
    align-items: center;
  }

  .searchbar input {
   
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
       
  }

  .searchbar-btn button {
    background-color: rgb(29, 29, 207);
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bolder;
    margin: 5px;
  }
    
  .searchbar-btn button {     
    transition: 0.0.5s;  
    
  }
  
  .searchbar-btn button:hover {
    -webkit-transform: scale(0.1);
    transform: scale(1.1);
  }
    

    .pokedex-header {
     display: flex;
     flex-direction: row; 
     align-items: center;
     padding: 12px;
    }
    .pokedex-header h1 {
      padding: 12px;
    }

    .pokedex-header h2 {
     color: white;
     border-radius: 30px;
     padding: 06px;
     background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
         
    }

    .pokedex-grid {
      display: grid;
      gap: 00px;
      grid-template-columns: repeat(3,1fr);
      padding: 05px;
      margin: 05px;
    }

    .pokemon-card {
      display: flex;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      color: white;
      background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
      padding: 15px;
      margin: 15px;
    }
    
    .pokemon-card {     
    transition: 0.0.5s;  
    
  }
  
  .pokemon-card:hover {
    -webkit-transform: scale(0.1);
    transform: scale(1.1);
  }

    .pokemon-image {
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }
    .pokemon-image-container {
      padding: 0px 5px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      padding: 00px 10px 00px 10px;
      flex: 1;
    }

    .card-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;
      font-weight: bold;
      padding: 10px;
    }

    .card-top h3 {
      text-transform: capitalize;
      padding: 00px 00px 00px 20px;

    }

    .card-bottom {
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-between;
      padding-inline-start: 13px;
    }

    .pokemon-type {
      display: flex;
      padding: 05px 00px 00px 20px;      
    }

    .pokemon-type-text {
      margin-right: 10px;
      text-transform: capitalize;
      background-color:rgb(213, 216, 212);
      box-shadow: 0px 5px 2px #f3f1f1;
      border-radius: 08px;
      padding: 02px;
      background-image: url("https://i.pinimg.com/600x315/c0/07/70/c00770070b068436098e86d98a16b694.jpg");
      color:white;
           
    }

    .pagination-container {
      display: flex;
      flex-direction: row;
      align-items:center;
      margin:auto;
      font-weight: bold;
      padding: 10px;
    } 

    .pokemon-heart-btn {
      border: none;
      background-color: hwb(0 92% 5%);
      border-radius: 15px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      padding: 5px;
      cursor: pointer;
      align-items: center;
    }

    .not-found-text  {
      text-align: center;
      font-size: 1.25rem;
      padding: 20px;
    }

    
  .App {
  text-align: center;
}


